.CloudIconLoggedIn {
    max-width: 190px!important;
    max-height: 50px!important;
}

.CloudIconNotLoggedIn {
    max-width: 190px!important; 
    max-height: 50px!important; 
    position: absolute; 
    top: 45%; 
    left: 50%; 
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
    /*opacity: 0.2;*/
}

.CloudIconNotLoggedIn:hover {
    opacity: 0.7;
    -moz-opacity: 0.7;
    cursor:pointer;
}

.CloudIconNotLoggedIn.tooltip {
    background-color: lightblue;
}

.SwitchLayoutLink {
    color:blue; 
    margin-left:13px;
}

.SwitchLayoutLink:hover {
    color:blue; 
    margin-left:13px;
    background-color: inherit;
    cursor: pointer;
}

.Loader {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.FolderIcon {
    cursor: pointer;
}

.FolderIcon:hover {
    cursor: pointer;
}

.FileIcon {
    cursor: pointer;
}

.FileIcon:hover {
    cursor: pointer;
}

/*.SelectableFolderGrid {
    background: url('../Images/folderIcon_64x64.png') no-repeat scroll center center transparent;
    cursor: pointer;
}*/